<div class="channel-details-container" *ngIf="channelData">
  <div class="channel-header">
    <div class="logo-container">
      <img [src]="channelData.logo" [alt]="channelData.title">
    </div>
    <div class="channel-title-container">
      <h1 class="channel-title">{{channelData.title}}</h1>
      <span class="channel-wave">{{channelData.wave}}</span>
    </div>
  </div>
  <div class="channel-info-container">
    <a [href]="channelData.website" class="channel-website" target="_blank">Visit Website</a>
    <p class="channel-description">{{channelData.description}}</p>
  </div>
  <div class="player">
    <audio controls [src]="channelData.stream"></audio>
  </div>
</div>
