:host {
  .channels-list {
    a.channel-item {
      display: block;

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .loading-data {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}
